* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #d2dbdd; */
}

h1 {
  margin: 30px;
}
a {
  color: #61dafb;
  text-decoration: none;
}

.navlink {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 75px;
  background-color: #353b48;
  font-size: 20px;
  font-weight: 500;
}

.navlink .active_class {
  color: #fff;
}

p {
  margin: 30px;
  font-size: 18px;
}

button {
  margin: 30px;
}

input {
  margin: 70px 500px 500px 600px;
  width: 25%;
  height: 45px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 1cqb;
}

.image_style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -470px;
}

.image_style img {
  width: 550px !important;
  height: 350px !important;
  margin-top: 10px !important;
  padding-left: 50px !important;
}

.musibat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}

.musibat p {
  margin-top: 3px !important;
}
